@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-black-main: #111827;
  --color-black-2: #030213;
  --color-blue-main: #007bff;
  --color-blue-main: #007bff;
  --color-blue-btn-1: #007bff;
  --color-blue-btn-2: #0058b8;

  /* Font family configuration */
  --font-inter: "Inter", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
}

@layer base {
  body {
    background: #f8fafc;
    color: var(--color-primary-black);
    font-family: var(--font-inter);
  }
}
